@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-5">
        <a href="http://jzdh.boloni.net:999" target="_blank" class="ml-md-auto">Boloni精装信息系统导航</a>
    </div>

    <div class="content px-5">
        @Body
    </div>
</div>
